asgiref==3.2.3
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
configparser==4.0.2
crayons==0.3.0
Django==3.0.3
fake-useragent==0.1.11
idna==2.8
linkedin-scraper==2.4.3
lxml==4.5.0
public==2019.4.13
pytz==2019.3
query-string==2019.4.13
requests==2.22.0
scrape-linkedin==0.1
selenium==3.141.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.8
webdriver-manager==2.3.0
